<img width="64" height="64" src="img/{{itemImagePath image 64}}" onerror="this.style.display='none'; this.nextElementSibling.style.display='inline-block';" alt="{{name}}">
<div class="item-icon-placeholder" style="width: 64px; height: 64px; background: #ddd; display: none;"></div>